<section class="menu bg-primary rounded-4 d-flex flex-column align-items-center h-100">
    <div class="menu__logo">
        <img src="assets/images/logo.png" alt="prexie" srcset="">
    </div>
    <div class="menu__links d-flex flex-column align-items-center mt-4">
        <a class="btn">
            <svg-icon
              src="assets/svg/organizations.svg"
              [svgStyle]="{ 'width.px': 35, 'height.px': 35 }"
            ></svg-icon>
        </a>
        <a class="btn">
            <svg-icon
              src="assets/svg/book.svg"
              [svgStyle]="{ 'width.px': 35, 'height.px': 35 }"
            ></svg-icon>
        </a>
        <a class="btn">
            <svg-icon
              src="assets/svg/box.svg"
              [svgStyle]="{ 'width.px': 35, 'height.px': 35 }"
            ></svg-icon>
        </a>
        <a class="btn">
            <svg-icon
              src="assets/svg/reports.svg"
              [svgStyle]="{ 'width.px': 35, 'height.px': 35 }"
            ></svg-icon>
        </a>
        <a class="btn">
            <svg-icon
              src="assets/svg/tag.svg"
              [svgStyle]="{ 'width.px': 35, 'height.px': 35 }"
            ></svg-icon>
        </a>
        <a class="btn">
            <svg-icon
              src="assets/svg/key.svg"
              [svgStyle]="{ 'width.px': 35, 'height.px': 35 }"
            ></svg-icon>
        </a>
        <a class="btn">
            <svg-icon
              src="assets/svg/barcode.svg"
              [svgStyle]="{ 'width.px': 35, 'height.px': 35 }"
            ></svg-icon>
        </a>
    </div>

    <div class="language d-flex flex-column align-items-center mt-auto">
        <button class="btn">
            <svg-icon
              src="assets/svg/icon.svg"
              [svgStyle]="{ 'width.px': 50, 'height.px': 50 }"
            ></svg-icon>
        </button>

        <div class="flags d-flex flex-column align-items-center">
            <button class="btn">
                <svg-icon
                  src="assets/svg/flags.svg"
                  [svgStyle]="{ 'width.px': 35, 'height.px': 35 }"
                ></svg-icon>
                <span class="text-white d-block">USA</span>
            </button>
        </div>
    </div>
</section>
