<section class="discount bg-white p-4 rounded-4">
    <div class="head d-flex justify-content-between">
        <h3 class="text-primary">Master</h3>
        <div class="nav-item" ngbDropdown>
            <a class="nav-link text-primary" tabindex="0" ngbDropdownToggle id="menu" role="button">
                Metoni, San Francisco            
            </a>
            <div ngbDropdownMenu aria-labelledby="menu" class="dropdown-menu">
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
            </div>
        </div>
    </div>
    
    <div class="taps">
        <prexie-taps></prexie-taps>
    </div>

    <div class="search d-flex justify-content-between my-4">
        <div class="search__field d-flex gap-3">
            <form>
                <div class="form-group position-relative">
                  <input type="text" class="form-control" id="" placeholder="Search">
                  <span class="search-icon">
                    <svg-icon
                    src="assets/svg/search.svg"
                    [svgStyle]="{ 'width.px': 20, 'height.px': 20 }"
                    ></svg-icon>
                  </span>
                </div>
            </form>
            <button class="btn">
                <svg-icon
                src="assets/svg/filter.svg"
                [svgStyle]="{ 'width.px': 20, 'height.px': 20 }"
                ></svg-icon>
            </button>
        </div>
        <div class="search-actions d-flex gap-3">
            <button class="btn btn-primary">
                Add new discount
            </button>
            <button class="btn btn-primary">
                Add new promotion
            </button>
            <button class="btn">
                <svg-icon
                    src="assets/svg/setting.svg"
                    [svgStyle]="{ 'width.px': 20, 'height.px': 20 }"
                ></svg-icon>
            </button>
        </div>
    </div>

    <div>
        <prexie-table></prexie-table>
    </div>
</section>